.demo-my-bg{
	background-image : url("assets/img/balloon.jpg");
}
input#srch-term.form-control{
	height: 50px;
	font-size: 15px;
}

.tran_container{
	background-color: #e7ebee;
}
#container .table td{
	border-top: 1px solid #e7ebee;
}
#container .table th{
	border-bottom: 2px solid #e7ebee;
}
#btn_search{
	height: 50px;
    width: 60px;
}
table.table.table-bordered{
	border: 1px solid #e7ebee;
}
td#cart.text-center{
	border: 1px solid #e7ebee;
}
th#cart.text-center{
	border: 1px solid #e7ebee;
}

/* form CSS updates */
.modal-header{
  background-color: #f3f3f3;
}
.modal-body {
  background-color: #dfdfdf;
}
.login-panel {
  background-color: #dfdfdf;
  border-radius: 5px;
  padding: 40px 40px;
}
.login-form-panel, .login-btn {
  border-radius: 10px;
  background: #dfdfdf;
  box-shadow: 15px 15px 30px #bebebe, 
  -15px -15px 30px #ffffff;
}
.form-control{
  border-radius: 5px;
}
.panel{
  border-radius: 10px;
}
.btn, .login-input{
  border-radius: 30px !important;
}
.custom-button-margin
{
  margin-left: 2px;
  margin-right: 2px;
}
.panel-dark.panel-colorful {
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 15px 15px 30px #d9d9d9, -15px -15px 30px #ffffff;
}
.dark-tablet-text {
  background: linear-gradient(to right, #057e96 0%, #3b4146 100%);
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.panel-danger.panel-colorful {
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 15px 15px 30px #d9d9d9, -15px -15px 30px #ffffff;
}
.danger-tablet-text {
  background: linear-gradient(to right, #968505 0%, #e02d09 100%);
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.panel-warning.panel-colorful {
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 15px 15px 30px #d9d9d9, -15px -15px 30px #ffffff;
}
.warning-tablet-text {
  background: linear-gradient(to right, #bf0296 0%, #fc032d 100%);
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.panel-success.panel-colorful {
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 15px 15px 30px #d9d9d9, -15px -15px 30px #ffffff;
}
.success-tablet-text {
  background: linear-gradient(to right, #036a96 0%, #02b529 100%);
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.panel-info.panel-colorful {
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 15px 15px 30px #d9d9d9, -15px -15px 30px #ffffff;
}
.info-tablet-text {
  background: linear-gradient(to right, #6b6d6e 30%, #0e62ab 70%);
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.panel-primary.panel-colorful {
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 15px 15px 30px #d9d9d9, -15px -15px 30px #ffffff;
}
.primary-tablet-text {
  background: linear-gradient(to right, #8805a6 30%, #0791e0 70%);
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.dashboard-tablets {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 18px !important;
}
.dashboard-page-content {
  padding: 10px 40px 10px 40px;
}
.bg-color-neumorph {
  color: #515151;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  background: #e7ebee;
  box-shadow: 10px 10px 30px #c4c8ca, -10px -10px 30px #ffffff;
  border: none;
}
.bg-color-plain {
  color: #515151;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  background: #e7ebee;
  border: none;
}
.image-panel-neumorph {
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  15px 15px 30px #d9d9d9, 
              -15px -15px 30px #ffffff;
}
.light-color-neumorph {
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  15px 15px 30px #d9d9d9, 
              -15px -15px 30px #ffffff;
}
.btn-light-color-neumorph {
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;
  border: none;
}
.breadcrumb>li+li:before {
  content: "▶";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.highcharts-container {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.legend-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: #e7ebee;
  border-radius: 0px 0px 10px 10px;
}
.trans-details-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background: linear-gradient(to right, #a1f79e 0%, #e1f79e 40%, #bcbdb9 100%);
  border-radius: 0px 0px 10px 10px;
}
.dataTables_filter input {
  border:none;
  border-radius: 8px;
  padding: 4px 10px;
  outline: none;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #e3e3e3, 
              inset -5px -5px 10px #ffffff;
}
.modal-content {
  border-radius: 20px;
}
.modal-header {
  border-radius: 20px 20px 0px 0px;
}
.bg-success {
  background-color: #97c664;
  color: #fff;
}
.bg-info {
  background-color: #4ebcda;
  color: #fff;
}
.bg-warning {
  background-color: #ebaa4b;
  color: #fff;
}
.large-font-col {
  font-size: 15px;
}


.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {  

  /* used to be tt-dropdown-menu in older versions */
  width: 500px;
  font-size: 18px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
div.panel-body.tran_container{
      height: 250px;
      overflow-y: scroll;
      overflow-x: hidden;
}
/*quantity, action*/
#cashier-table td:nth-child(3),
#cashier-table td:nth-child(7)
{
    text-align : center;
    font-weight: bold;
}
/*price*/
#cashier-table td:nth-child(4)
{
    text-align : right;
}
/*discount*/
#cashier-table td:nth-child(5) 
{
    text-align : center;
    font-style: italic;
}
/*extended*/
#cashier-table td:nth-child(6)
{
    text-align : right;
    font-weight: bold;
}
#div-itemlist{
  height: 200px;
}

@media screen and (min-width: 992px) {
  input#srch-term.typeahead.form-control.tt-input{
    width: 260px;
  }
}